{{#if user}}
    <h2>Welcome, {{ user.username }}!</h2>
    <p>This is your profile page my friend! And your email is {{ user.email }} Right?</p>
    <p>Do you wonder why we need your email? Get ready for spam</p>
    <img class="profile-img" src="{{user.imgUrl}}" alt="profile image">
{{else}}
    <p>Still no logged in user, sorry!</p>
{{/if}}